<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxd.zcloud.dao.FolderMapper">

  <resultMap id="BaseResultMap" type="com.zxd.zcloud.pojo.Folder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="folder_name" jdbcType="VARCHAR" property="folderName" />
    <result column="folder_createtime" jdbcType="TIMESTAMP" property="folderCreatetime" />
    
    <association property="folder_creator" javaType="com.zxd.zcloud.pojo.User">
		<id column="uid" jdbcType="INTEGER" property="id"/>
		<result column="username" jdbcType="VARCHAR" property="username" />
	</association>
    
    <association property="folder_parent" javaType="com.zxd.zcloud.pojo.Folder">
		<id column="fpid" jdbcType="INTEGER" property="id"/>
		<result column="folder_parent_name" jdbcType="VARCHAR" property="foldername" />
		<result column="folder_parent_createtime" jdbcType="TIMESTAMP" property="createtime" />
	</association>
    
  </resultMap>
  
  
  
  <insert id="insert">
  	insert into folder(folder_name, folder_creator, folder_parent, folder_createtime)
  	values(#{folderName}, #{folderCreator.id}, #{folderParent.id}, #{folderCreatetime})
  </insert>
  
  
  

</mapper>