<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxd.zcloud.dao.UserMapper">

	<!-- user的resultMap映射，不映射用户创建的文件，但映射用户创建的文件夹，后续通过文件夹来查询文件 -->
	<resultMap id="UserWithRootFolderResultMap" type="com.zxd.zcloud.pojo.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		
		<association property="rootFolder" javaType="com.zxd.zcloud.pojo.Folder">
			<id column="rfid" jdbcType="INTEGER" property="id"/>
			<result column="rfuuid" jdbcType="VARCHAR" property="folderUUID" />
			<result column="rfname" jdbcType="VARCHAR" property="folderName" />
			<result column="rfcreatetime" jdbcType="TIMESTAMP" property="folderCreatetime" />
		</association>
		
	</resultMap>
	
	
	<select id="selectByUserNameWithRootFolder" resultMap="UserWithRootFolderResultMap">
		select u.*,
		f.id 'rfid', f.folder_uuid 'rfuuid', f.folder_name 'rfname' ,f.folder_createtime 'rfcreatetime'
			from user u left join folder f
			on u.root_folder = f.folder_uuid
			where u.username = #{username}
	</select>
	
	
	
	<insert id="insertSelective"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into user
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="username != null">
	        username,
	      </if>
	      <if test="password != null">
	        password,
	      </if>
	      <if test="createtime != null">
	        createtime,
	      </if>
	      <if test="rootFolder != null">
	        root_folder,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id,jdbcType=INTEGER},
	      </if>
	      <if test="username != null">
	        #{username,jdbcType=VARCHAR},
	      </if>
	      <if test="password != null">
	        #{password,jdbcType=VARCHAR},
	      </if>
	      <if test="createtime != null">
	        #{createtime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="rootFolder != null">
	        #{rootFolder.UUID,jdbcType=VARCHAR},
	      </if>
	    </trim>
	</insert>


	<update id="updateByUserNameSelective" parameterType="com.zxd.zcloud.pojo.User" >  
    update user  
    <set >  
      <trim>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      
      <if test="rootFolder != null">
        root_folder = #{rootFolder.folderUUID,jdbcType=VARCHAR},
      </if>
      </trim>  
    </set>  
    where username = #{username,jdbcType=VARCHAR}  
  </update> 
 
</mapper>